{% extends "base.html" %}

{% block title_head %}
Usuarios
{% endblock title_head %}

{% block content %}
{% endblock %}

{% block h1_header %}
Usuarios
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se podrán ver los usuarios creados</p>
{% endblock div_sub %}

{% block loquesea %}
{% endblock loquesea %}

{% block main %}

<form action={% url "usuarios" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar usuario">
</form>

{% if usuarios %}
<ul>
    {% for usuario in usuarios %}
    <li>{{usuario}} | 
        <a href={% url "eliminar_usuario" usuario.id%}>Eliminar</a> | 
        <a href={% url "editar_usuario" usuario.id%}>Editar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay usuarios creados</p>
{% endif %}
{% endblock main %}
