{% extends "base.html" %}

{% block title_head %}
Comentarios
{% endblock title_head %}

{% block content %}
{% endblock %}

{% block h1_header %}
Comentarios
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se podrán ver los comentarios creados</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block main %}

<a href={% url "create_comment" %}>Crear comentario</a>

{% if comments %}
<ul>
    {% for comment in comments %}
    <li>{{comment}} | 
        <a href={% url "delete_comment" comment.id%}>Eliminar</a> |
        <a href={% url "edit_comment" comment.pk%}>Editar</a> |
        <a href={% url "display_comment" comment.id%}>Ver</a> 
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay comentarios creados</p>
{% endif %}
{% endblock main %}
