{% extends "base.html" %}

{% block title_head %}
Editar comentario
{% endblock title_head %}

{% block h1_header %}
Editar comentario
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se editan los comentarios</p>
{% endblock div_sub %}

{% block loquesea %}
{% endblock loquesea %}

{% block content %}
{% endblock %}

{% block main %}

<form class="formulario" action={% url "edit_comment" comment.id%} method="POST">
                
    {% csrf_token %}

    {{form}}

    <input type="submit" value="Enviar">
</form>

{% endblock main %}
