{% extends "base.html" %}
{% load static %}

{% block title_head %}
Probando
{% endblock title_head %}

{% block content %}
{% endblock %}

{% block loquesea %}
{% endblock loquesea %}

{% block h1_header %}
Probando
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se hacen pruebas</p>
{% endblock div_sub %}

{% block main %}
<ul>
  {% for num in numeros %} 
  {% if num > 250 %}
  <li style="color:red">Pepito {{num}}</li>
  {% else %}
  <li style="color:blue">Pepito {{num}}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock main %}

