{% extends "base.html" %}

{% block title_head %}
Eliminar user
{% endblock title_head %}

{% block h1_header %}
Eliminar user
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se eliminan los users</p>
{% endblock div_sub %}

{% block loquesea %}
{% endblock loquesea %}

{% block content %}
{% endblock %}

{% block main %}

<form class="formulario" action={% url "delete_user" user.id%} method="POST">     
    {% csrf_token %}
    <p>Desea confirmar la eliminación del user {{user}}</p>
    <input type="submit" value="Confirmar">
</form>

{% endblock main %}
