{% extends "base.html" %}

{% block title_head %}
Usuario
{% endblock title_head %}

{% block h1_header %}
{{user}}
{% endblock h1_header %}

{% block div_sub %}
{% if request.user.userdetails.avatar %}
<img src="{{request.user.userdetails.avatar.url}}" alt="Avatar" height="200px"style="border-radius: 50%">
{% endif %}
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}
    <ul>
        <li>Nombre: {{user.first_name}}</li>
        <li>Apellido: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
<a href={% url "modify_user" %}>Modificar usuario</a>
{% endblock main %}
