{% extends "base.html" %}

{% block title_head %}
Iniciar sesion
{% endblock title_head %}

{% block h1_header %}
Iniciar sesion
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se inicia sesion</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}

<form class="formulario" action={% url "login" %} method="POST">
                
    {% csrf_token %}

    {{formulario}}

    <input type="submit" value="Iniciar sesion">
</form>

{% endblock main %}