{% extends "base.html" %}

{% block title_head %}
Editar contraseña
{% endblock title_head %}

{% block h1_header %}
Cambiar contraseña
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se cambia la contraseña</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}

<form action={% url "modify_pass" %} method="POST">
                
    {% csrf_token %}

    {{form}}

    <input type="submit" value="Cambiar contraseña">
</form>

{% endblock main %}