{% extends "base.html" %}

{% block title_head %}
Editar usuario
{% endblock title_head %}

{% block h1_header %}
Editar usuario
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se editan los comentarios</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}

<form action={% url "modify_user" %} method="POST">
                
    {% csrf_token %}

    {{formulario}}

    <input type="submit" value="Actualizar">
</form>

{% endblock main %}
