{% extends "base.html" %}

{% block title_head %}
Editar usuario
{% endblock title_head %}

{% block h1_header %}
Editar usuario
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí puedes editar tu usuario</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}

<form action={% url "modify_user" %} method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{formulario}}
    <input type="submit" value="Aplicar">
</form>

<a href={% url "modify_pass" %}>Cambiar contraseña</a>
{% endblock main %}
