{% extends "base.html" %}

{% block title_head %}
Registro
{% endblock title_head %}

{% block h1_header %}
Registro
{% endblock h1_header %}

{% block div_sub %}
<p class="text-white-75 mb-5">Aquí se registra un usuario</p>
{% endblock div_sub %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% endblock %}

{% block main %}

<form class="formulario" action={% url "register" %} method="POST">
                
    {% csrf_token %}

    {{formulario}}

    <input type="submit" value="Registrarse">
</form>

{% endblock main %}